<!--suppress HtmlUnknownTarget -->
<div class="sidebar-wrapper">
    <b>TL;DR:</b>
    <ul>
        <li><a href="{{ '/tl;dr' | relative_url }}">TL;DR</a>
    </ul>
    <b>Detailed Guides:</b>
    <ul>
        <li><a href="{{ '/General' | relative_url }}">General</a>
        <li><a href="{{ '/Interface' | relative_url }}">Interface</a>
        <li><a href="{{ '/Workspace' | relative_url }}">Workspace</a>
        <li><a href="{{ '/Tools' | relative_url }}">Tools</a>
        <li><a href="{{ '/History Log' | relative_url }}">History Log</a>
        <li><a href="{{ '/File Handling' | relative_url }}">File Handling</a>
        <li><a href="{{ '/Export' | relative_url }}">Export</a>
        <li><a href="{{ '/Performance' | relative_url }}">Performance</a>
        <li><a href="{{ '/Scratch Disks' | relative_url }}">Scratch Disks</a>
        <li><a href="{{ '/Cursors' | relative_url }}">Cursors</a>
        <li><a href="{{ '/Transparency & Gamut' | relative_url }}">Transparency & Gamut</a>
        <li><a href="{{ '/Units & Rulers' | relative_url }}">Units & Rulers</a>
        <li><a href="{{ '/Guides, Grid & Slices' | relative_url }}">Guides, Grid & Slices</a>
        <li><a href="{{ '/Plug-Ins' | relative_url }}">Plug-Ins</a>
        <li><a href="{{ '/Type' | relative_url }}">Type</a>
        <li><a href="{{ '/3D' | relative_url }}">3D</a>
        <li><a href="{{ '/Technology Previews' | relative_url }}">Technology Previews</a>
     </ul>
</div>

<br/>

<div class="sidebar-wrapper">
    <b>How-To ( branch master )</b> <a href="https://github.com/PhotoshopSettings/PhotoshopSettings.github.io/edit/master/_includes/azerothcore/sidebar.html">Edit</a>
    <b>Install:</b>
    <ul>
        <li><a href="/wiki/PSS_test">PSS_test</a></li>
    </ul>
    <b>Contribute:</b>
    <ul>
        <li><a href="/wiki/Contribute">How to contribute </a></li>
    </ul>
</div>
